* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 24px;
}

.para {
  font-size: 24px;
  font-weight: bold;
}

.select {
  padding: 4px 0px;
  font-weight: bold;
}

select, p {
  margin: 12px;
}

button {
  margin: 12px;
  background-color: #ffc1c3;
}

.select-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 16px;
}

h1, h3 {
  margin-bottom: 36px;
}

li {
  list-style: none;
}

.task-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  padding: 24px;
}