* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 24px;
}

.para {
  font-size: 24px;
  font-weight: bold;
}

.select {
  padding: 4px 0px;
  font-weight: bold;
}

select, p {
  margin: 12px;
}

button {
  margin: 12px;
  background-color: #ffc1c3;
  width: 120px;
 align-self: center;
}

.select-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 16px;
}

h1, h3 {
  margin-bottom: 36px;
}

li {
  list-style: none;
  
}

.task-wrapper {
  width: 360px;
  
  border: 2px solid #ddd;
  padding: 24px;
}

.list-container {
  width: 420px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

form {
  border: 2px solid #ddd;
}

form h2 {
  text-align: center;
  padding: 16px;
}

input {
  margin: 12px 0;
}

.task-row {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap; 
}

.task-card {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 250px;
  border-radius: 8px;
  background-color: #f9f9f9;
}